    <div>
        <br>
        <h2>Education</h2>
        <br>
        <h3 class="lead">2017 - present</h3>
            <ul >
                <li >Master of Computer Application</li>
                <li >Department of Computer Science, Pune University</li>
            </ul>
            <br>
        <h3 class="lead">2014 - 2017</h3>
            <ul >
                <li >Bachelor of Computer Applications</li>
                <li >DAV College, Panjab University </li>
            </ul>
            <br>
        <h3 class="lead">2013 – 2014</h3>
            <ul >
                <li >Intermediate</li>
                <li >Dr. VSEC Senior Wing</li>
            </ul>
            <br>
        <h3 class="lead">2011 – 2012</h3>
            <ul >
                <li > High School</li>
                <li >Dr. VSEC Senior Wing </li><br>
            </ul>        
</div>