<div>
        <br>
        <h2 class="lead">Technical Skills</h2>
        <ul>
                <li>Programming Language: C, C++, Java, Python,JavaScript</li>
                <li>Database: Postgres,Mysql,Oracle</li>
                <li>Strengths: Data Structures, Algorithms, Problem Solving</li>
        </ul>
        <br>

        <h2 class="lead">Projects And Assignments</h2>
        <ul>
                <li>Developing an Assembler for x86 assembly code in Python.</li>
                <li>Self Training AI for Neural Network</li>
                <li>Restaurant Application using React JS</li>
        </ul>
        <br>
        
        <h2 class="lead">Achievements And Accomplishments</h2>
        <ul>
                <li>Certified Microsoft Technology Associate</li>
                <li>Secured 1st Position in International Informatics Olympiad</li>
                <li>Secured 1st Position in State Level Informatics Olympiad</li>
        </ul>
</div>