<div style="text-align:center" class="jumbotron text-center">
  <h1>Aryan Dixit</h1>  
  <h3>3rd Year MCA at PUCSD</h3>
    <hr>
    <table style="width:100%">
    <tr>
        <td>(+91)8591827289</td>
        <td><a href="https://github.com/Aryan-Dixit">Github Profile</a></td>
    </tr>
    <tr>
        <td><a href="https://linkedin.com/in/aryandixit/">Linkedin Profile</a></td>
        <td>aryandixit1007@gmail.com</td>
    </tr>
    </table>
    </div>
<nav>
        <a routerLink="/" class="col-sm-4"><button type="button" class="btn btn-info">Home</button></a>
        <a routerLink="/education" class="col-sm-4"><button type="button" class="btn btn-info">Education</button></a>
        <a routerLink="/technicle" class="col-sm-4"><button type="button" class="btn btn-info">Technicle Skills and Achivements</button></a>
        <a routerLink="/about" class="col-sm-4"><button type="button" class="btn btn-info">About Me</button></a>
</nav>
<router-outlet></router-outlet>
